.reservation_page_title{
    text-align: center;
}

.reservation_page_title>p{
    font-size: 2rem;
}

.img_container{
    border: 1px silver solid;
    margin-bottom: 1rem;
}

.img_container>img {
    width: 15rem;
    height: 15.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


.cancel_button,
.using_button{
    position: absolute;
    top: 14.1rem;
}

.using_button{
    left: 1.5rem;
    width: 40%;
    border-radius: 0;
}

.cancel_button{
    left: 16.6rem;
    width: 40%;
    border-radius: 0;
}

.items {
    padding: 0;
    margin-top: 3rem;
    border-bottom: 1px silver solid;
}

.reservation_info_container>a{
    width: 40%;
}

.btn-group>.btn {
    float: inherit;
}


#modal_text{
    text-align: center;
    font-size: 1.6rem;
}

.modal-footer{
    padding-bottom: 0;
}

.modal-footer>button,
.modal-footer>a>button{
    font-size: 1.2rem;
}