.header {
    text-align: center;
}

.logo_container{
    margin-top: 10%;
    margin-bottom: 2rem;
}

.logo_container>img {
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
}

.form_container{

}

#register_form>p{
    padding-right: 7.4rem;
}

#register_form>p:nth-child(2){
    margin-right: 1.8rem;
}

#register_form>p:nth-child(4){
    margin-right: 4.8rem;
}

#back_button{
    width: 7.3rem;
}

.btn{
    border-radius: 0;
}

