
.item_name_container>a,
.reservation_info_container>a{
    position: absolute;
    top: 14.1rem;
    left:1.5rem;
    width: 100%;
}


.item_name_container>a>.btn,
.reservation_info_container>a>.btn{
    border-radius: 0;
}

#reserve_button{
    width: inherit;
}

.item_name{
    font-size: 2rem;
}

.item_detail{
    text-align: left;
}


