{% extends 'checklist/base.html' %}
{% load staticfiles %}

{% block title %} Canary:mypage {% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/mypage.css' %}">
{% endblock %}


{% block content %}
<div class="header container-fluid">
    <div class="reservation_page_title">
        <p>나의 예약 현황</p>
    </div>
    <div class="reservation_container container-fluid">
        {% for r, item, start_datetime, end_datetime in reservation_li %}
        <div class="items col-md-offset-4 col-md-4">
            <div class="img_container col-md-4">
                <img src="{{ item.item_img.url }}" alt="">
            </div>
            <div class="reservation_info_container col-md-8">
                <p class="item_name">{{ item.item_name }}</p>
                <p class="username">사용자: {{ r.email }}</p>
                <p class="using_time">사용시간: {{ start_datetime }} ~ {{ end_datetime }}</p>

                <a href="{% url 'accounts:checklist_page' r.id %}" id="link_using_button"><button type="button" class="btn btn-default" id="using_button">사용하기</button></a>
                <a href="{% url 'checklist:delete_reservation' r.id %}" id="link_cancel_button"><button type="button" class="btn btn-default" id="cancel_button">취소하기</button></a>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}


{% block script %}

{% endblock %}